<div id="disqus_thread"></div>
<script type="text/javascript">
  // TODO: A definir a conta
  var disqus_shortname = '???',
      disqus_url = '';

  {% if page.oldUrl %}
  disqus_url = "{{ page.oldUrl }}";
  {% else %}
  disqus_url = "http://blog.riojs.org{{ page.url }}";
  {% endif %}

  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
