<!doctype html>
<html lang="pt-br">
<head>
  <title>{% if page.title %}{{ page.title }} &mdash;{% endif %} {{ site.name }}</title>

  <!-- Meta -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ site.baseurl }}assets/images/favicon.ico" type="image/x-icon" />

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/style.css" type="text/css" />
</head>
<body{% if page.class %} class="{{ page.class }}"{% endif %}>
	<header>
		<div class="container">
			<h1><a href="{{ site.baseurl }}"><img src="{{ "assets/img/logo.png" | prepend: site.baseurl }}" alt=""></a></h1>
			<nav class="main-nav">
				<ul>
					<li><a href="{{ site.baseurl }}">Home</a></li>
					<li><a href="{{ "eventos" | prepend: site.baseurl }}">Eventos</a></li>
					<li><a href="{{ "agenda" | prepend: site.baseurl }}">Agenda</a></li>
					<li><a href="{{ "projetos" | prepend: site.baseurl }}" id="projetos">Projetos</a></li>
					<li><a href="{{ "colaboradores" | prepend: site.baseurl }}">Colaboradores</a></li>
					<li><a href="{{ "blog/" | prepend: site.baseurl }}">Blog</a></li>
				</ul>
			</nav>
			{% include social.html %}
		</div>
	</header>
