body
	font-family: $base-font-family
	font-size: $base-font-size
	line-height: $base-line-height

.container
	max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 1))
	max-width:         calc(#{$content-width} - (#{$spacing-unit} * 1))
	margin-right: auto
	margin-left: auto
	padding-right: $spacing-unit
	padding-left: $spacing-unit
	position: relative

	@include media-query($on-tablet)
		max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}))
		max-width:         calc(#{$content-width} - (#{$spacing-unit}))
		padding-right: $spacing-unit / 2
		padding-left: $spacing-unit / 2

header
	background: $yellow
	padding: $spacing-unit/2

.main-nav
	position: absolute
	bottom: 0
	right: 0

	li
		display: inline-block
		margin: 0 0 0 $spacing-unit/2

	a
		color: $black

.social
	position: absolute
	top: 0
	right: 0

	li
		display: inline-block
		margin: 0 0 0 $spacing-unit/2


// Featured ----------------------------------------------------------------------------------------
.featured
	text-align: center
	padding: $spacing-unit*3.5 0
	background: gray
	height: 400px
	background: url(../img/rio-de-janeiro.jpg)
	background-size: cover
	font-weight: 700
	color: white

.featured-title
	margin: 0 0 $spacing-unit
	font-size: $base-font-size*2
	border-bottom: 3px solid $yellow
	display: inline-block
	padding: 0 0 5px

.featured-date
	margin: 0 0 $spacing-unit/2

.featured-place
	margin: 0 0 $spacing-unit

.featured-button
	border: 1px solid white
	color: white
	text-transform: uppercase
	padding: 6px 8px
	margin: 0 8px

// Home ----------------------------------------------------------------------------------------
.content
	padding: $spacing-unit*2
	h1
		font-size: $base-font-size*3
		margin: 0 0 $spacing-unit*1.5
	p
		margin: 0 0 $spacing-unit/2

.home-content
	text-align: center


.button
	border: 1px solid $black
	padding: 4px 8px
	text-transform: uppercase
	color: $black
	margin: $spacing-unit
	display: inline-block


// Footer ----------------------------------------------------------------------------------------
footer
	background: $yellow
	padding: $spacing-unit/2




